<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title inertia>AdonisJS x Inertia x React</title>

  @viteReactRefresh()
  @inertiaHead()
  @vite(['inertia/app/app.tsx','inertia/css/app.css', `inertia/pages/${page.component}.tsx`])
</head>

<body class="">
  @inertia()
  <script>
    const toggleTheme = (theme) => {
      localStorage.setItem('theme', theme);

      document.body.classList.remove('light', 'dark', 'system')
      if (theme === 'system') {
        document.body.classList.add(
          window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
        )
      } else {
        document.body.classList.add(theme)
      }

      localStorage.setItem('theme', theme);
    }
    const savedTheme = localStorage.getItem('theme');

    window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', setTheme);
    toggleTheme(savedTheme || 'system');
  </script>
</body>

</html>
